{%- set child_url = '' %}  {#| Target of the current link |#}

{% for nav_item in nav %}

{%- if nav_item.children %}
  {%- if nav_item.children[0].input_path %}
    {%- set urlList = nav_item.children[0].input_path.split('.') %}
  {%- else %}
    {%- if nav_item.children[0].children[0].input_path %}
      {%- set urlList = nav_item.children[0].children[0].input_path.split('.') %}
    {%- endif %}
  {%- endif %}
  {%- set fileName = urlList.pop() %}
  {%- set child_url = '.'.join(urlList) %}
{%- endif %}


{%- set navlevel = 0 %}
<ul class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">
  <li>
    <p class="caption">{{ nav_item.title }}</p>
      {% if nav_item.children %}
        {% for nav_item in nav_item.children %}
          {% include "toc.html" %}
        {% endfor %}
      {%- endif %}
  </li>
</ul>


{% endfor %}